<div class="container-fluid">
	<div class="row">

		<div class="col-md-2">
			<!-- Zawartość sidebaru -->
			Szukaj: <input ng-model="query">
			Sortuj:
				<select ng-model="order">
					<option value="name">Alfabetycznie</option>
					<option value="age">Najnowsze</option>
					<option value="-age">Najstarsze</option>
				</select>
		</div>

		<div class="col-md-10">
			<!-- Zawartość contentu -->
			<ul class="phones">
				<li ng-repeat="phone in phones | filter: query | orderBy: order" class="thumbnail phone-listing">	
				<!-- filtruje pod kątem tego, co wpisano w szukajke -->
					<a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
					<a href="#/phones/{{phone.id}}">"{{phone.name}}"</a>
					<p>{{phone.snippet}}</p>
				</li>
			</ul>
		</div>

	</div>
</div>